body{
background-color: black;
margin: 0;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
background-color: blue;
align-items: center;
justify-content:space-between;
padding: 40px;
display: flex;
}
h1{
color: brown;
font-size: 50px;
}
input{
width: 50px;

}
button{
background-color: #3dfec4;
width: 50px;
border-radius: 30px;
}
